/* img dere*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Header*/
.custom-header {
  background-color: #fff;
  height: 80px; /* puedes dejarlo en 80px si no quieres agrandar el header */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  z-index: 1000;
}

.custom-header .logo-izquierda,
.custom-header .logo-derecha {
  height: 80px; /* antes 60px → ahora más grande */
  object-fit: contain;
}

.custom-header img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}